table {
  width: 500px;
  height: 500px;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: #CCC;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  padding: 5px;
}

.box{
  width: 70px;
  height: 70px;
  font-size: 3em;
  border: none;
}

.box:hover {
  background-color: #999;
  border-radius: 50px;
  color: #FFF;
}
