table {
  width: 500px;
  height: 500px;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: #CCC;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  padding: 5px;
}

input {
  position: relative;
  width: 70px;
  height: 70px;
  float: left;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
}

#display {
  width:430px;
  float: right;
  font-size: 50px;
  text-align: right;
  background-color: #FFF;
  border-color: #CCC;
  color: #777;
  margin-right: 18px;
  padding-right: 10px;
}

.box{
  width: 70px;
  height: 70px;
  font-size: 3em;
  border: none;
}

.box:hover {
  background-color: #999;
  border-radius: 50px;
  color: #FFF;
}

.operator {
  width: 70px;
  height: 70px;
  font-size: 3em;
  background-color: #000;
  border-color: #000;
  color: #FFF;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  padding-bottom: 10px;
}

.operator:hover {
  background-color: #FFF;
  color: #000;
  border-color: #000;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  padding-bottom: 10px;
}

.clear {
  width: 70px;
  height: 70px;
  font-size: 3em;
  background-color: #FF0000;
  border-color: #FF0000;
  color: #FFF;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  padding-bottom: 5px;
}

.clear:hover {
  background-color: #FFF;
  color: #FF0000;
  border-color: #FF0000;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  padding-bottom: 5px;
}

.equal {
  width: 70px;
  height: 70px;
  font-size: 3em;
  background-color: #00FF00;
  border-color: #00FF00;
  color: #FFF;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  padding-bottom: 10px;
}

.equal:hover {
  background-color: #FFF;
  color: #00FF00;
  border-color: #00FF00;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  padding-bottom: 10px;
}
